parameters:
  level: 9
  paths:
    - src
    - tests
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    -
      message: '#Parameter \#8 \$sshKeys of method DigitalOceanV2\\Api\\Droplet::create\(\) expects array<int>, array<int\|string> given#'
      path: src/Services/InstanceRepository.php

    -
      message: '#Parameter \#2 \$array of function implode expects array<string>, array<DigitalOceanV2\\Entity\\Tag> given#'
      path: src/Model/Instance.php
