services:
    _defaults:
        autowire: true
        autoconfigure: true

    GuzzleHttp\Handler\MockHandler:
        public: true
        class: GuzzleHttp\Handler\MockHandler

    GuzzleHttp\HandlerStack:
        class: GuzzleHttp\HandlerStack
        factory: ['GuzzleHttp\HandlerStack', 'create']
        arguments:
            $handler: '@GuzzleHttp\Handler\MockHandler'

    App\Tests\Services\HttpResponseFactory:
        public: true

    App\Services\ServiceConfiguration:
        public: true
        arguments:
            $configurationDirectory: '%kernel.project_dir%/services'
