name: service.set-image

on:
  repository_dispatch:
    types: [service-set-image]
  workflow_dispatch:
    inputs:
      service_id:
        description: The service for which the configuration is being stored
        required: true
      image_id:
        description: ID of the snapshot to store
        required: true

jobs:
  store-service-configuration:
    name: Store ${{ github.event.inputs.service_id }} ${{ github.event.client_payload.service_id }}
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        env:
          IS_WORKFLOW_DISPATCH_EVENT: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          if [ "true" = "$IS_WORKFLOW_DISPATCH_EVENT" ]; then
            {
              echo "service_id=${{ github.event.inputs.service_id }}"
              echo "image_id=${{ github.event.inputs.image_id }}"      
            } >> "$GITHUB_ENV"
          else
            {
              echo "service_id=${{ github.event.client_payload.service_id }}"
              echo "image_id=${{ github.event.client_payload.image_id }}"
          
            } >> "$GITHUB_ENV"          
          fi

      - name: Output setup
        run: |
          echo "service_id=${{ env.service_id }}"
          echo "image_id=${{ env.image_id }}"         

      - name: Checkout
        uses: actions/checkout@v6

      - name: Store
        env:
          CONFIGURATION_PATH: ./services/${{ env.service_id }}/image.json
          IMAGE_ID: ${{ env.image_id }}
        run: |
          mkdir -p "$(dirname "$CONFIGURATION_PATH")"
          jq "." <<< "{\"image_id\":\"$IMAGE_ID\"}" > "$CONFIGURATION_PATH"

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Automatic image update for ${{ env.service_id }}"
