name: service.set-env

on:
  repository_dispatch:
    types: [service-set-env]
  workflow_dispatch:
    inputs:
      service_id:
        description: The service for which the configuration is being stored
        required: true
      env_vars:
        description: Base64-encoded JSON-string of key:value pairs to be set as environment variables on first boot
        required: true

jobs:
  store-service-configuration:
    name: Store ${{ github.event.inputs.service_id }} ${{ github.event.client_payload.service_id }}
    runs-on: ubuntu-latest

    steps:
      - name: Setup
        env:
          IS_WORKFLOW_DISPATCH_EVENT: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          if [ "true" = "$IS_WORKFLOW_DISPATCH_EVENT" ]; then
            {
              echo "service_id=${{ github.event.inputs.service_id }}"
              echo "base64_env_vars=${{ github.event.inputs.env_vars }}"
            } >> "$GITHUB_ENV"
          else
            {
              echo "service_id=${{ github.event.client_payload.service_id }}"              
              echo "base64_env_vars=${{ github.event.client_payload.env_vars }}"
      
            } >> "$GITHUB_ENV"          
          fi

      - name: Output setup
        run: |
          echo "service_id=${{ env.service_id }}"
          echo "base64_env_vars=${{ env.base64_env_vars }}"

      - name: Checkout
        uses: actions/checkout@v6

      - name: Store
        env:
          CONFIGURATION_PATH: ./services/${{ env.service_id }}/env.json
          BASE64_ENV_VARS: ${{ env.base64_env_vars }}
        run: |
          ENV_VARS_JSON=$(base64 --decode <<< "$BASE64_ENV_VARS")
          
          mkdir -p "$(dirname "$CONFIGURATION_PATH")"
          jq "." <<< "$ENV_VARS_JSON" > "$CONFIGURATION_PATH"

      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Automatic env update for ${{ env.service_id }}"
