name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit:
    name: PHPUnit tests - PHP ${{ matrix.php }}
    strategy:
      matrix:
        php: ['8.4', '8.5']
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        run: composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run tests
        run: composer test
